
---
title: Version 0.0.2
date: "2025-05-07"
---

# Hello 
    This is the second devblog on this project and since last time ive changed the way i style from using pure css to npw using premade elements from daisy.ui.
    I have also pretty much completed the item page, i added explosives, added all the data and made sure it was displayed correctly. Currently the data is a bit off because i cannot find correct ones online and i need to test for my self.
    I also added a raid helper thing that shows you how much it would take to raid something.
    I also revamped the styling of the entire page.

## Changes


## Features
    ✅List Of buildings and information
    ✅Generall Styling for most objects
    ✅Navigation and general Menu setup 
    ✅Raidhelp
    ✅Crafting recipes for items
    ✅Popup with information
    ✅Search
    ✅
<hr>
<br>
