
---
title: "Copilot is actually usefull"
date: "2025-04-09"
---

# Hello 👋

Welcome to my first devblog post!
Today i added all the buildables i wanted to have at the moment, copilot was for once usefull for something. I also began work on a info popupwindow when you click on the items
<br>
